* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 15px;
    background-color: #032f70;
}

header nav a{
    color: #fff;
}

header nav a:hover{
    background-color: #3a0b8b;
    color: #fff;
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #032f70;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
}

footer a {
    color: #fff;
}